{% extends 'base.html.twig' %}

{% block title %}Tools
{% endblock %}

{% block body %}

	<div class="col-lg-12  contenu-blanc shadow-lg">

		<h1>Tools</h1>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr class="bg-entete">
					<th class="col-md-1">Id</th>


					<th class="col-md-1">First Name</th>
					<th class="col-md-1">Last Name</th>
					<th class="col-md-1">Email</th>
					<th class="col-md-1">Country</th>
					<th class="col-md-1">Adults</th>
					<th class="col-md-1">Children</th>
					<th class="col-md-1">Date</th>
					<th class="col-md-3">Message</th>
					<th class="col-md-1">Created_at</th>
					<th class="col-md-1">Tour</th>

					<th class="col-md-6">Actions<span class="pull-right"></span>
					</th>

				</tr>
				{% if button is defined %}
					<button type="submit" class="btn btn-primary">
						{{ button }}
					</button>
				{% endif %}
				<div class="container-fluid contenu">
					{% if not tourRequests.items is same as ([]) %}
						{#in case theres no data yet#}
						There is
						{{ tourRequests.getTotalItemCount }}
						Tour!!


					</thead>
					<br>
					{% for flash_message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ flash_message }}
						</div>
					{% endfor %}
					<tbody>

						{% for key, tourRequest in tourRequests %}
							<tr>
								<td>{{ tourRequest.id }}</td>
								<td>{{ tourRequest.firstName }}</td>
								<td>{{ tourRequest.lastName }}</td>
								
								<td>{{ tourRequest.email }}</td>
								<td>{{ tourRequest.country }}</td>
								<td>{{ tourRequest.adult }}</td>
								<td>{{ tourRequest.children}}</td>
                                <td>{{ tourRequest.date | date('Y-m-d') }}</td>
                                <td class="col-md-3">
									<div class="description-cell">
										<div class="description-preview">{{ tourRequest.message|slice(0, 100) }}</div>
										{% if tourRequest.message|length > 100 %}
											<div class="description-full" style="display: none;">{{ tourRequest.description }}</div>
										{% endif %}
									</div>
								</td>
                                
                                <td>{{ tourRequest.createdAt | date('Y-m-d') }}</td>
                                <td>{{ tourRequest.tour.name}}</td>
								
								<td
									class="row">

									<!-- formulaire pour demander la modification ou la suppression -->
									<form>

											<button type="submit" class="btn btn-danger btn-sm" formaction="{{ path('delete_tourRequest',{id : tourRequest.id}) }}" title="Supprimer" onclick="return confirm('Do you really want to delete this request ?');">
												<i class="fa fa-trash-o "></i>
												delete</button>

											<input
											type="hidden" name="_token" value="{{ csrf_token('action-item' ~ tourRequest.id) }}">
										{#  ~     pour concaténer des chaines en twig #}
										</form>
									</td>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
				<div class="d-flex justify-content-center">
					{{ knp_pagination_render(tourRequests) }}
				</div>
			{% else %}
				there is no tourRequests yet
			{% endif %}
		</div>
		<style>
			.description-cell {
				position: relative;
			}

			.description-preview {
				max-height: 100px; /* Set a maximum height for the preview */
				overflow: scroll;
			}

			.read-more-btn {
				position: absolute;
				bottom: 0;
				right: 0;
				background: transparent;
				border: none;
				cursor: pointer;
				color: blue; /* Adjust the color as needed */
			}

			.description-full {
				display: none;
			}
		</style>


	</div>
{% endblock %}
