<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ ux_controller_link_tags() }}
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="{{ asset('assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('assets/libProject/style.css') }}"/>
			<link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-oC/HuvwePQQM6/Mme+jzLNqRxt7fQ8EcIe7ZL/A2Wz5HfQ5YrIMKwCm+cL0pWGZBKVsFfZaSEqK98rV2fusTHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% endblock %}
	</head>
	<body class="bg-light">
		<nav
			class="navbar navbar-expand-md navbar-dark fixed-top">
			<!-- Brand -->
			<a class="navbar-brand" href="{{ path('home')}}">Travel</a>

			<!-- Toggler/collapsible Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Program</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Stats</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Social</a>
					</li>

					{# {% if is_granted('ROLE_ADMIN') %}
											<li class="nav-item">
												<a class="nav-link" href="">Admin tools</a>
											</li>
										{% endif %} #}
					<!-- Dropdown -->
					{% if app.user %}
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								{{ app.user.username }}
							</a>
							<div class="dropdown-menu" style="background-color: #ffffff;">
								<a class="dropdown-item" href="" style="color: black;">Profile</a>
								<a class="dropdown-item" href="" style="color: black;">Account</a>
								<a class="dropdown-item" href="{{ path('app_logout')}}" style="color: black;">Logout</a>
							</div>
						</li>
					{% endif %}
					<li
						class="nav-item">
						{#    si un utilisateur existe (et est donc connecté)    #}
						{% if app.user %}
							<li></li>
						{% else %}
							<li>
								<a class="nav-link" href="{{ path('app_login')}}">Login</a>
							</li>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav><br><br><br>
		{% block body %}{% endblock %}
		<footer>
			<header>
				<h2>Quota</h2>
				<p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, accusantium?"</p>
				<ul class='icons'>
					<ion-icon class='icon' name="logo-facebook"></ion-icon>
					<ion-icon class='icon' name="logo-instagram"></ion-icon>
					<ion-icon class='icon' name="logo-twitter"></ion-icon>
					<ion-icon class='icon' name="logo-youtube"></ion-icon>
				</ul>
			</header>
			<aside>
				<ul class='category'>
					<li>
						<h3>Project</h3>
					</li>
					<li>Houses</li>
					<li>Rooms</li>
					<li>Flats</li>
					<li>Apartments</li>
				</ul>
				<ul class='category'>
					<li>
						<h3>Company</h3>
					</li>
					<li>Objective</li>
					<li>Capital</li>
					<li>Security</li>
					<li>Selling</li>
				</ul>
				<ul class='category'>
					<li>
						<h3>Movement</h3>
					</li>
					<li>Movement</li>
					<li>Support us</li>
					<li>Pricing</li>
					<li>Renting</li>
				</ul>
				<ul class='category'>
					<li>
						<h3>Help</h3>
					</li>
					<li>Privacy</li>
					<li>Contact</li>
					<li>FAQs</li>
					<li>Blog</li>
				</ul>
			</aside>
		</footer>
		<!-- footer section -->

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
