<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ ux_controller_link_tags() }}
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="{{ asset('assets/lib/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}"/>
			<link rel="stylesheet" href="{{ asset('assets/libProject/style.css') }}"/>
			<link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-oC/HuvwePQQM6/Mme+jzLNqRxt7fQ8EcIe7ZL/A2Wz5HfQ5YrIMKwCm+cL0pWGZBKVsFfZaSEqK98rV2fusTHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{% endblock %}
	</head>
	<body class="bg-light">
		<nav
			class="navbar navbar-expand-md navbar-dark fixed-top">
			<!-- Brand -->
			<a class="navbar-brand" href="{{ path('home')}}">Saker Koraish</a>

			<!-- Toggler/collapsible Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Home</a>
					</li>
					
					<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Trips
							</a>
							<div class="dropdown-menu" style="background-color: #ffffff;">
								<a class="dropdown-item" href="{{ path('tour') }}" style="color: black;">Marrackech</a>
							</div>
						</li>
					<li class="nav-item">
						<a class="nav-link" href="">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact') }}">Contact</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('tools') }}">Admin tools</a>
						</li>
					{% endif %}
					<!-- Dropdown -->
					{% if app.user %}
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								{{ app.user.firstName }}
							</a>
							<div class="dropdown-menu" style="background-color: #ffffff;">
								<a class="dropdown-item" href="" style="color: black;">Profile</a>
								<a class="dropdown-item" href="" style="color: black;">Account</a>
								<a class="dropdown-item" href="{{ path('app_logout')}}" style="color: black;">Logout</a>
							</div>
						</li>
					{% endif %}
					<li
						class="nav-item">
						{#    si un utilisateur existe (et est donc connecté)    #}
						{% if app.user %}
							<li></li>
						{% else %}
							<li>
								<a class="nav-link" href="{{ path('app_login')}}">Login</a>
							</li>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}<br>
		<!-- footer section -->
			<footer class="footer_section customFooter-margin">
				<div class="container">
					<div class="row">
						<div class="col-md-4 footer-col">
							<div class="footer_contact">
								<h4>
									Contact Us
								</h4>
								<div class="contact_link_box">
									<a href="">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<span>
											Location
										</span>
									</a>
									<a href="">
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span>
											Call +01 1234567890
										</span>
									</a>
									<a href="">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span>
											demo@gmail.com
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 footer-col">
							<div class="footer_detail">
								<a href="" class="footer-logo">
									Saker Koraish
								</a>
								<p>
									Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
								</p>
								{# <div class="footer_social">
									<a href="">
										<i class="far fa-edit mb-5"></i>
									</a>
									<a href="">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
									<a href="">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
									<a href="">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
									<a href="">
										<i class="fa fa-pinterest" aria-hidden="true"></i>
									</a>
								</div> #}
							</div>
						</div>
						<div class="col-md-4 footer-col">
							<h4>
								Opening Hours
							</h4>
							<p>
								Everyday
							</p>
							<p>
								10.00 Am -10.00 Pm
							</p>
						</div>
					</div>
					<div class="footer-info">
						<p>
							&copy;
							<span id="displayYear"></span>
							All Rights Reserved By
							<a href="#">Travel</a><br><br>
							{# &copy;
							<span id="displayYear"></span>
							Distributed By
							<a href="https://themewagon.com/" target="_blank">ThemeWagon</a> #}
						</p>
					</div>
				</div>
			</footer>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
